{% load store_extras %}
{% if page_obj.paginator.num_pages > 1 %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="{% query_replace page=1 %}"><i class="fas fa-angles-left"></i></a>
        <a href="{% query_replace page=page_obj.previous_page_number %}"><i class="fas fa-chevron-left"></i></a>
    {% else %}
        <span class="disabled"><i class="fas fa-angles-left"></i></span>
        <span class="disabled"><i class="fas fa-chevron-left"></i></span>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <span class="current">{{ num }}</span>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="{% query_replace page=num %}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="{% query_replace page=page_obj.next_page_number %}"><i class="fas fa-chevron-right"></i></a>
        <a href="{% query_replace page=page_obj.paginator.num_pages %}"><i class="fas fa-angles-right"></i></a>
    {% else %}
        <span class="disabled"><i class="fas fa-chevron-right"></i></span>
        <span class="disabled"><i class="fas fa-angles-right"></i></span>
    {% endif %}
</div>
{% endif %}
